.massive {
  color: green;
  position: sticky;
  float: right;
  bottom: 0%;
}

.moon,
.sun {
  cursor: pointer;
}

.ui.container {
  margin-top: 10px;
}

.inverse {
  background: black;
}

.inverse .ui.card {
  background: #1b1c1d;
}

.inverse .description,
.inverse .header {
  color: rgba(255, 255, 255, 0.9) !important;
}
